.navbar{
    position: sticky!important;
    top: 0;
    z-index: 20!important;
    background-color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1D!important;
}

.navbar .nav-item .Profile{
    width: 25px;
}
.home-bg{
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    position: relative;
    z-index: -1!important;
}
.home-bg .Slogan{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
}
.home-bg .Slogan p{
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
    color: #000000;
}
.home-bg .Button{
background: linear-gradient(90deg, rgba(17,0,255,1) 0%, rgba(0,76,255,1) 35%);
color: #fff;
font-weight: 500;
}