.navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1D!important;
}

.navbar .nav-item .Profile{
    width: 25px;
}
.home-bg{
    background-image: url("../img/background.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}